<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}"
      dir="{{ or site.Language.LanguageDirection `ltr` }}"
      data-scheme="default"
>
<head>
    {{ partial "head.html" . }}
    {{ if .Param "math" }}
        {{ partialCached "math.html" . }}
    {{ end }}
</head>
<body>
<canvas id="starfield"></canvas>
<div class="cockpit">
    <div class="hologram">
        <div class="scanlines"></div>
        <div class="screen">
            <div class="display-grid"></div>

            <div class="top-status-line">
                <div class="status-line-item"><a href="/">RavNet <span
                        class="mobile-hidden">// NODE</span> JLRICKERT.ME</a>
                </div>
                <div class="status-line-item">STATUS<span class="mobile-hidden">:</span> CONNECTED
                </div>
                <div id="latency-indicator" class="status-line-item">LATENCY<span
                        class="mobile-hidden">:</span> 42ms
                </div>
            </div>

            <header class="panel">
                {{ partial "header.html" . }}
            </header>
            <hr>
            <main class="panel">
                {{ block "main" . }}{{ end }}
            </main>
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        </div>
    </div>
</div>
{{ if .Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';

        mermaid.initialize({startOnLoad: true});
    </script>
{{ end }}
</body>
</html>
