<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <canvas id="starfield"></canvas>
        <div class="right-port"></div>
        <div class="left-port"></div>
        <div class="port-stem"></div>
        <div class="monitor scanlines">
            <header>
                {{ partial "header.html" . }}
            </header>
            <main>
                {{ block "main" . }}{{ end }}
            </main>
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        </div>
    </body>
</html>
