<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header>
            {{ partial "header.html" . }}
        </header>
        <main>
            <canvas id="starfield"></canvas>
            <div class="scanline"></div>
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
