{{ define "main" }}
    <img alt="avatar of Jared Rickert" height="200" width="300" src="/{{ .Site.Params.image }}" class="avatar"/>
    {{ .Content }}
    {{ range $index, $page := where site.RegularPages "Section" ""}}
        <section>
            <h2><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h2>
            {{ $page.Summary }}
        </section>
        {{ if not (eq $index (sub (len (where site.RegularPages "Section" "")) 1)) }}
            <hr>
        {{ end }}
    {{ end }}

    <div class="panel pagination">
        <a href="blog"><h2>Latest Blog entries</h2></a>
        {{ $pages := where site.RegularPages "Type" "blog" }}
        {{ $paginator := .Paginate $pages.ByTitle 5 }}

        {{ range $paginator.Pages }}
            <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            <p>{{ .Description }}</p>
            <hr>
        {{ end }}
    </div>
{{ end }}
