<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
<meta name="author" content="{{ site.Params.author }}">
<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
<title>
    {{ if .IsHome }}
        {{ site.Title }}
    {{ else }}
        {{ printf "%s | %s" .Title site.Title }}
    {{ end }}
</title>

<meta name="referrer" content="strict-origin-when-cross-origin">
{{ partial "google_analytics.html" . }}
{{ partial "opengraph.html" . }}
{{ partial "schema.html" . }}
{{ with (templates.Defer (dict "key" "global")) }}
    {{ partialCached "head/css.html" . }}
{{ end }}
{{ partialCached "head/js.html" . }}
